<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>ChooseCourse</servlet-name>
    <servlet-class>servlet.ChooseCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseCourse</servlet-name>
    <url-pattern>/ChooseCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStudentChooseCourseList</servlet-name>
    <servlet-class>servlet.GetStudentChooseCourseList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentChooseCourseList</servlet-name>
    <url-pattern>/GetStudentChooseCourseList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStudentCourseList</servlet-name>
    <servlet-class>servlet.GetStudentCourseList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentCourseList</servlet-name>
    <url-pattern>/GetStudentCourseList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeCourseDetail</servlet-name>
    <servlet-class>servlet.ChangeCourseDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeCourseDetail</servlet-name>
    <url-pattern>/ChangeCourseDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCourseDetailContent</servlet-name>
    <servlet-class>servlet.GetCourseDetailContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCourseDetailContent</servlet-name>
    <url-pattern>/GetCourseDetailContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCourseDetailList</servlet-name>
    <servlet-class>servlet.GetCourseDetailList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCourseDetailList</servlet-name>
    <url-pattern>/GetCourseDetailList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCourse</servlet-name>
    <servlet-class>servlet.DeleteCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCourse</servlet-name>
    <url-pattern>/DeleteCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCourseList</servlet-name>
    <servlet-class>servlet.GetCourseList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCourseList</servlet-name>
    <url-pattern>/GetCourseList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCourse</servlet-name>
    <servlet-class>servlet.AddCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourse</servlet-name>
    <url-pattern>/AddCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeHomework</servlet-name>
    <servlet-class>servlet.ChangeHomework</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeHomework</servlet-name>
    <url-pattern>/ChangeHomework</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetHomeworkContent</servlet-name>
    <servlet-class>servlet.GetHomeworkContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHomeworkContent</servlet-name>
    <url-pattern>/GetHomeworkContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetHomeworkList</servlet-name>
    <servlet-class>servlet.GetHomeworkList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHomeworkList</servlet-name>
    <url-pattern>/GetHomeworkList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveFile</servlet-name>
    <servlet-class>servlet.SaveFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveFile</servlet-name>
    <url-pattern>/SaveFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetDirList</servlet-name>
    <servlet-class>servlet.GetDirList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDirList</servlet-name>
    <url-pattern>/GetDirList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Mkdir</servlet-name>
    <servlet-class>servlet.Mkdir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mkdir</servlet-name>
    <url-pattern>/Mkdir</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>servlet.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Delete</servlet-name>
    <servlet-class>servlet.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Download</servlet-name>
    <servlet-class>servlet.Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>servlet.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExecuteHql</servlet-name>
    <servlet-class>servlet.ExecuteHql</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteHql</servlet-name>
    <url-pattern>/ExecuteHql</url-pattern>
  </servlet-mapping>
</web-app>
